/* button styles */
button {
  border: none;
  border-radius: 7px;
}
.btn-md {
  width: 120px;
  height: 50px;
  font-weight: 500;
  font-size: 0.95rem;
}
.btn-primary {
  background-color: #202192;
  color: white;
}
.btn-secondary {
  background-color: #f1f1f1;
  color: #476581;
}
.btn-container {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}