/* button styles */
button {
  border: none;
  border-radius: 7px;
  font-family: "Noto Sans", sans-serif;
  
}
.btn-md {
  width: 120px;
  height: 50px;
  font-weight: 500;
  font-size: 0.95rem;
}
.btn-primary {
  background-color: $primary-color;
  // background-color: #202192;
  color: white;
}

.btn-secondary {
  background-color: $white;
  color: $text-color-mid;
}

.btn-container {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.btn-feature {
  width: fit-content;
  padding: 10px 20px;
}