/* card */
.feature-card {
    box-shadow: 0px 2px 10px rgba(20, 26, 31, 0.15);
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.feature-card > p {
    text-align: justify;
}

.feature-card > a {
    text-align: left;
}