/* typography */
.italic {
  font-style: italic;
  font-weight: 300;
}

.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-bold {
  font-size: 1.1rem;
  font-weight: 600;
}
.text-underline {
  text-decoration: underline;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-blue {
  color: blue;
}
.text-denim-blue {
  color: #202192;
}
.text-size-24 {
  font-size: 17px;
}
.text-size-large {
  font-size: 3rem;
}
.font-weight-300 {
  font-weight: 300;
}