// Color Variables
$primary-color: #0D2192;
$text-color: #000;
$text-color-dark: #0D2192;
$text-color-light: #73CDF3;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #f8fbff;
$light: #f8fbff;

// Font Variables
$primary-font: 'Work Sans', sans-serif;
$font-hosting: 'google'; // From where to include Lato from: [google|local|none]
$icon-font: 'themify';