{{- $about := .Site.Params.about }}
{{- $title    := index $about "title" }}
{{- $subtitle := index $about "subtitle" }}
{{- $tiles    := index $about "tiles" }}
<section class="section section-feature-grey is-medium" id="about">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">{{ $title }}</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns is-mobile is-multiline">
        {{- range $tiles }}
        
        <div class="column is-full-mobile card is-half-desktop has-text-centered">
          <div class="card-title">
            <h4>{{ .title }}</h4>
          </div>
          <div class="card-icon">
            <img src="{{ printf "/images/%s.svg" .icon | relURL }}">
          </div>
          <div class="card-text">
            <p>{{ .text }}</p>
          </div>
        </div>
        {{- end }}
      </div>

      <hr>

      <div class="columns">
        <div class="column is-half">

          <p>Dapr is a programming model for writing cloud-native applications which are distributed, dynamically scaled, and loosely coupled in nature.</p>

          <p>Dapr offers an eventing system on which compute units communicate with each other by exchanging messages.</p>
        </div>

        <div class="column is-half">
          <!-- embed a video about dapr here -->
          <a href="https://asciinema.org/a/j5ThGMrlqDGXHwOdvYCtIhCpd" target="_blank"><img src="https://asciinema.org/a/j5ThGMrlqDGXHwOdvYCtIhCpd.svg" /></a>
        </div>
      </div>

      <hr>

      <div class="columns">
        <div class="column is-full has-text-centered">

          <div class="level">
            <div class="level-item"><img src="images/lang/node.svg" alt="node" /></div>
            <div class="level-item"><img src="images/lang/python.svg" alt="python" /></div>
            <div class="level-item"><img src="images/lang/php.svg" alt="php" /></div>
            <div class="level-item"><img src="images/lang/java.svg" alt="Java" /></div>
            <div class="level-item"><img src="images/lang/dotnet.svg" alt=".NET" /></div>
            <div class="level-item"><img src="images/lang/go.svg" alt="Go" /></div>
            <div class="level-item"><img src="images/lang/plus.svg" alt="And lots more." /></div>
          </div>

          <p class="is-3 has-text-centsered">Dapr works with any programming language, via HTTP / gRPC.</p>

        </div>
      </div>

    </div>
  </div>
</section>