{{- $about := .Site.Params.about }}
{{- $title    := index $about "title" }}
{{- $subtitle := index $about "subtitle" }}
{{- $tiles    := index $about "tiles" }}
<section class="section section-feature-grey is-medium" id="about">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">{{ $title }}</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns is-mobile no-sh is-multiline">
        {{- range $tiles }}
        
        <div class="column is-full-mobile card is-half-desktop">
          <div class="card-title">
            <h4>{{ .title }}</h4>
          </div>
          <div class="card-icon">
            <img src="{{ printf "/images/%s.svg" .icon | relURL }}">
          </div>
          <div class="card-text">
            <p>{{ .text }}</p>
          </div>
        </div>
        {{- end }}
      </div>

      <hr>

      <div class="columns is-mobile">
        <div class="column is-half-desktop is-full-mobile">

          <p><a href="https://github.com/dapr/dapr">Dapr</a> is a portable, event-driven runtime that makes it easy for developers to build resilient, microservice stateless and stateful applications that run on the cloud and edge and embraces the diversity of languages and developer frameworks.</p>
        </div>

        <div class="column is-half is-hidden-mobile">
          <div class="video-wrap"><script src="https://asciinema.org/a/j5ThGMrlqDGXHwOdvYCtIhCpd.js" data-size="small" data-rows="20"  id="asciicast-j5ThGMrlqDGXHwOdvYCtIhCpd" async></script></div>
        </div>
      </div>

    </div>
  </div>
</section>