{{- $about := .Site.Params.about }}
{{- $title    := index $about "title" }}
{{- $subtitle := index $about "subtitle" }}
{{- $tiles    := index $about "tiles" }}
<section class="section section-feature-grey is-medium" id="about">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">{{ $title }}</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns is-mobile no-sh is-multiline">
        {{- range $tiles }}
        
        <div class="column is-full-mobile card is-half-desktop">
          <div class="card-title">
            <h4>{{ .title }}</h4>
          </div>
          <div class="card-icon">
            <img src="{{ printf "/images/%s.svg" .icon | relURL }}">
          </div>
          <div class="card-text">
            <p>{{ .text }}</p>
          </div>
        </div>
        {{- end }}
      </div>

      <hr>

      <div class="columns">
        <div class="column is-half">

          <p><a href="https://github.com/dapr/dapr">Dapr</a> is a programming model for writing cloud-native applications which are distributed, dynamically scaled, and loosely coupled in nature.</p>

          <p>Dapr offers an eventing system on which compute units communicate with each other by exchanging messages.</p>
        </div>

        <div class="column is-half">
          <div class="video-wrap"><script src="https://asciinema.org/a/j5ThGMrlqDGXHwOdvYCtIhCpd.js" data-size="small" data-rows="20"  id="asciicast-j5ThGMrlqDGXHwOdvYCtIhCpd" async></script></div>
        </div>
      </div>

    </div>
  </div>
</section>