<section class="section section-feature-grey is-medium" id="community">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">Get Involved</h3>
    </div>

    <div class="content-wrapper">
      
      <div class="columns has-text-centered">
        <div class="column is-third social-wrap">
              <a href="https://twitter.com/DaprDev" class="social-icon">
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <h4>Twitter</h5>
                <p>Follow @DaprDev for the latest project developments.</p>
              </a>
        </div>
        <div class="column is-third social-wrap">
              <a href="https://gitter.im/Dapr" class="social-icon">
                <img src="images/logos/gittr.png" alt="Gittr Chat" />
                <h4>Gitter</h4>
                <p>Join the community chat to discuss Dapr with the dev team.</p>
              </a>
        </div>
        <div class="column is-third social-wrap">
              <a href="https://github.com/dapr" class="social-icon">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </a>
              <h4>Contributing</h4>
              <p>PRs welcome! See our <a href="https://docs.dapr.io/contributing/">contributing </a> and <a href="https://github.com/dapr/community/blob/master/CODE-OF-CONDUCT.md">code of conduct</a> guides.</p>
        </div>

    </div>
  </div>
</section>