<section class="section section-feature-grey is-medium" id="download">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">Download</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns is-mobile download-step">
        <div class="column is-half">
          <h2><span class="bigno">1</span> Download</h2>
          <p>Dapr is installed as a CLI on your local machine. Use the install script for your OS:</p>
        </div>
        <div class="column is-half">
          <div class="tabs">
            <ul>
              <li>Select your OS:&nbsp;&nbsp;</li>
              <li id="tablinks" class="is-active"><a onclick="openTab(event, 'Windows')">Windows</a></li>
              <li id="tablinks"><a onclick="openTab(event, 'MacOS')">MacOS</a></li>
              <li id="tablinks"><a onclick="openTab(event, 'Linux')">Linux</a></li>
            </ul>
          </div>
          <div class="tabcontent active" id="Windows">
            <input id="copy-windows" value="powershell -Command &quot;iwr -useb https://raw.githubusercontent.com/dapr/cli/master/install/install.ps | iex&quot;" />
            <button data-clipboard-target="copy-windows" class="button">Copy</button>
          </div>
          <div class="tabcontent " id="MacOS">
            <input id="copy-mac" value="curl -fsSL https://raw.githubusercontent.com/dapr/cli/master/install/install.sh | /bin/bash" />
            <button data-clipboard-target="copy-mac" class="button">Copy</button>
          </div>
          <div class="tabcontent" id="Linux">
            <input id="copy-linux" value="wget -q https://raw.githubusercontent.com/dapr/cli/master/install/install.sh -O - | /bin/bash;" />
            <button data-clipboard-target="copy-linux" class="button">Copy</button>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        function openTab(evt, tabTitle) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(tabTitle).style.display = "block";
          evt.currentTarget.className += " active";
        }

        var clip = new Clipboard('.button');
      </script>


      <div class="columns is-mobile download-step">
        <div class="column is-half">
          <h2><span class="bigno">2</span> Initialize</h2>
          <p>Setup Dapr on your machine with ‘dapr init’.
        </div>
        <div class="column is-half">
          <div class="cli-wrapper">
            <pre>
 $  dapr init
⌛  Making the jump to hyperspace...
    Downloading binaries and setting up
    components
✅  Success! DAPR is up and running
            </pre>
          </div>

        </div>
      </div>

      <div class="columns is-mobile download-step">
        <div class="column is-half">
          <h2><span class="bigno">3</span> Run</h2>
          <p>You can run Dapr locally with a <code>dapr run</code>. Visit the <a>documentation</a> for further details and next steps.</p>
        </div>
        <div class="column is-half">
          <div class="cli-wrapper">
            <!-- <pre>
 $  dapr run --app-id mynode --app-port 3000 --port 3500 node app.js

⌛  Starting dapr id mynode on port 3500

    You're up and running! Both dapr and
    your app logs will appear here.
    ...
            </pre> -->
          </div>
        </div>
      </div>

      <hr>

      <div class="columns is-mobile">
        <div class="column has-text-centered">
          <p>&nbsp;</p>
          <div class="button-cta has-text-centered">
            <a class="button is-primary is-large" href="https://github.com/dapr/docs/tree/master/getting-started">Get Started</a>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-full has-text-centered">
  
          <div class="level">
            <div class="level-item"><img src="images/lang/dotnet.svg" alt=".NET" /></div>
            <div class="level-item"><img src="images/lang/node.svg" alt="node" /></div>
            <div class="level-item"><img src="images/lang/python.svg" alt="python" /></div>
            <div class="level-item"><img src="images/lang/go.svg" alt="Go" /></div>
            <!-- <div class="level-item"><img src="images/lang/php.svg" alt="php" /></div> -->
            <div class="level-item"><img src="images/lang/java.svg" alt="Java" /></div>
            <div class="level-item"><img src="images/lang/plus.svg" alt="And lots more." /></div>
          </div>
  
          <p class="is-3 has-text-centsered"><small>Dapr works with any programming language, via HTTP / gRPC.</small></p>
          <hr>
  
        </div>
      </div>

    </div>
  </div>
</section>