<section class="hero is-default is-bold has-text-centered">
  <h1>
    <img src="images/logos/dapr.svg" alt="dapr" /><br>
  </h1>

  <h2>Event-driven, portable runtime for building microservice apps on cloud and edge.</h2>
  
  <div class="button-cta">
    <a class="button is-primary is-large" href="https://github.com/dapr/docs/tree/master/getting-started">Get Started</a>
    <p>Install the <a href="#download">cli</a> or explore the <a href="https://github.com/dapr/docs">docs</a> to learn more.</p>
  </div>
</section>