{{- $oldnew := .Site.Params.oldnew }}
<section class="section section-feature-grey is-medium" id="old-vs-new">
  <div class="container">

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-half oldstuff">
          <h3>Cloud-native development:</h3>
          <h2 class="is-2">Distributed App Challenges</h2>
          <ol>
            <li>Hard to incrementally migrate from existing code to a microservices architecture.</li>
            <li>Many programming model runtimes have narrow language support and tightly controlled feature sets.</li>
            <li>Event-driven architectures and state handling are complicated making them difficult to scale.</li>
            <li>Many runtimes only target specific infrastructure platforms with limited code portability across clouds and edge.</li>
          </ol>
        </div>

        <div class="column is-half newstuff">
          <h3>With Dapr:</h3>
          <h2 class="is-2">Streamlined Microservices</h2>
          <ol>
            <li>Dapr enables developers using any language or framework to easily write microservices, providing industry best practices to solve distributed systems problems.</li>
            <li>Dapr provides consistency and portability through open APIs and extensible components that are community-driven.</li>
            <li>Dapr handles state, resource bindings and pub/sub messaging, which enable event-driven, resilient architectures that scale.</li>
            <li>Dapr is platform agnostic and runs on any infrastructure, including public clouds and edge devices with its open APIs.</li>
          </ol>
        </div>

      </div>

    </div>
  </div>
</section>