<section class="section section-feature-grey is-medium" id="testimonial">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">Testimonials</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      
      <div class="columns has-text-centered">
        <div class="column is-third">
          <img src="https://dummyimage.com/130x60/ccc/fff" alt="Alibaba" />
          ALIBABA
          <hr>
          <p class="has-text-left">“Dapr enables Geek+ to bring intelligence into our cloud + edge  solutions with simple, incremental adoption.”</p>
        </div>
        <div class="column is-third">
          <img src="https://dummyimage.com/130x60/ccc/fff" alt="Geek+" />
          GEEK+
          <hr>
          <p class="has-text-left">“Dapr enables Geek+ to bring intelligence into our cloud + edge  solutions with simple, incremental adoption.”</p>
        </div>
        <div class="column is-third">
          <img src="https://dummyimage.com/130x60/ccc/fff" alt="Willow" />
          WILLOW
          <hr>
          <p class="has-text-left">“Dapr enables Geek+ to bring intelligence into our cloud + edge  solutions with simple, incremental adoption.”</p>
        </div>
      </div>

    </div>
  </div>
</section>