<section class="section section-feature-grey is-medium" id="testimonial">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">Partners</h3>
    </div>

    <div class="content-wrapper is-mobile columns">
        <div class="column is-half">
          <figure class="image">
            <img src="images/logos/geek.png" alt="Geek+" />
          </figure>
          <hr>
          <p class="has-text-left">“Dapr enables Geek+ to bring intelligence into our cloud + edge  solutions with simple, incremental adoption.”</p>
        </div>
        <div class="column is-half">
          <figure class="image">
            <img src="images/logos/willow.png" alt="Willow" />
          </figure>
          <hr>
          <p class="has-text-left">“Willow has partnered with Microsoft to use Dapr to help build our industry leading intelligent cloud / edge, AI based railway management solution."</p>
        </div>
      </div>

    </div>
  </div>
</section>