/* ==========================================================================
Fresh Footer
========================================================================== */

footer {
    .columns {
        margin-top: 35px;
    }
    .footer-logo {
        img {
            height: 40px;
        }
    }

    a {
        display: inline-block;
        margin-right: 2.5rem;

        .icon {
            opacity: 0.25;
            padding-right: 0.25rem;
        }
    }
    
}