<footer class="bg-light section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-5">
        {{ if site.Menus.footer_left }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_left }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_left }}
          <li><a href="{{ .URL | absURL }}" onclick="captureOutboundLink('{{ .URL | absURL }}'); return false;">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        {{ if site.Menus.footer_middle }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_middle }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_middle }}
          <li><a href="{{ .URL | absURL }}" onclick="captureOutboundLink('{{ .URL | absURL }}'); return false;">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        {{ if site.Menus.footer_right }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_right }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_right }}
          <li><a href="{{ .URL | absURL }}" onclick="captureOutboundLink('{{ .URL | absURL }}'); return false;">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <a class="d-block mb-3" href="{{ site.BaseURL }}"><img width="{{site.Params.logo_width}}"  class="img-fluid" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
        <p class="mb-4">{{ site.Params.footer_content | markdownify }}</p>
        
        {{ if site.Params.social }}
        <ul class="list-inline social-icons">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}" onclick="captureOutboundLink('{{ .link | safeURL }}'); return false;"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
    <div class="border-top border-default text-center py-4 mt-4">
      <small class="content">© {{now.Format "2006"}} {{ site.Params.Authors | markdownify }}</small><br></br>
      <small class="content">Copyright © {{now.Format "2006"}} {{ site.Params.Copyright | markdownify }}</small><br></br>
      <small class="content">{{ site.Params.Trademark | markdownify }}</small>
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
<script src="{{ $script.Permalink }}"></script>
<script>
  var captureOutboundLink = function(url) {
     ga('send', 'event', 'outbound', 'click', url, {
       'transport': 'beacon',
       'hitCallback': function(){document.location = url;}
     });
  }
</script>
