<footer class="footer">
  <div class="flex justify-content-space-evenly footer-container">
    {{ if site.Menus.footer_column1 }}
    <ul class="list-style-none">
      <li class="text-bold padding-bottom-20">{{ site.Params.footer_menu_column1 }}</li>
      {{ range site.Menus.footer_column1 }}
      <li class="padding-bottom-10"><a href="{{ .URL | absURL }}" onclick="captureOutboundLink('{{ .URL | absURL }}'); return false;" class="navLink">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

    {{ if site.Menus.footer_column2 }}
    <ul class="list-style-none">
      <li class="text-bold padding-bottom-20">{{ site.Params.footer_menu_column2 }}</li>
      {{ range site.Menus.footer_column2 }}
      <li class="padding-bottom-10"><a href="{{ .URL | absURL }}" onclick="captureOutboundLink('{{ .URL | absURL }}'); return false;" class="navLink">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}  

    {{ if site.Menus.footer_column3 }}
    <ul class="list-style-none">
      <li class="text-bold padding-bottom-20">{{ site.Params.footer_menu_column3 }}</li>
      {{ range site.Menus.footer_column3 }}
      <li class="padding-bottom-10"><a href="{{ .URL | absURL }}" onclick="captureOutboundLink('{{ .URL | absURL }}'); return false;" class="navLink">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    
    {{ if site.Menus.footer_column4 }}
    <ul class="list-style-none">
      <li class="text-bold padding-bottom-20">{{ site.Params.footer_menu_column4 }}</li>
      {{ range site.Menus.footer_column4 }}
      <li class="padding-bottom-10"><a href="{{ .URL | absURL }}" onclick="captureOutboundLink('{{ .URL | absURL }}'); return false;" class="navLink">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}  
  </div>
  <div class="text-center footer-info-text">
    <p>Copyright &copy; 2023, The Dapr Authors</p>
    <p>
      The Linux Foundation has registered trademarks and uses trademarks.
      For a list of trademarks of The Linux Foundation, please see our
      <a href="https://www.linuxfoundation.org/legal/trademark-usage" class="footer-link-text">Trademark Usage page.</a>
    </p>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
<script src="{{ $script.Permalink }}"></script>
<script>
  var captureOutboundLink = function (url) {
    ga('send', 'event', 'outbound', 'click', url, {
      'transport': 'beacon',
      'hitCallback': function () { document.location = url; }
    });
  }
</script>
<script
src="https://kit.fontawesome.com/91dde3bebe.js"
crossorigin="anonymous"
></script>
<script>
// hamburger menu logic
const handleToggle = () => {
  const menuToggleNode = document.getElementById("mobile-menu");
  let navBarLinkContainer = document.getElementById("navLinkWrapper");

  if (menuToggleNode.className === "menu-toggle") {
    menuToggleNode.className = "menu-toggle is-active";
    navBarLinkContainer.style.display = "flex";
    navBarLinkContainer.className = "navLinkContainer list-style-none";
  } else {
    menuToggleNode.className = "menu-toggle";
    navBarLinkContainer.style.display = "none";
  };     
};
</script>
