{{ "<!-- navigation -->" | safeHTML }}
<nav>
  <div class="flex navbar justify-content-space-between align-items-center">
    <div class="logo">
      {{ with site.Params.logo}}
      <a href="#"><img src="{{ . | absURL }}" alt="{{ site.Title }}" /></a>
      {{ else }}{{site.Title}}{{end}}
    </div>
    <div class="menu-toggle" id="mobile-menu" onClick="handleToggle()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="flex vertical-align-center list-style-none" id="navLinkWrapper">
      {{ range site.Menus.main }}
        {{ if .HasChildren }}
          <li class="dropdown navbar-item is-hoverable padding-left-right-20"><span href="#" class="navLink">{{ .Name }}</span>
            <span class="icon is-small text-denim-blue">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
            <div class="navbar-dropdown" role="menu">
              <div class="flex flex-column">
                {{ range .Children }}
                <a href="{{ .URL | absURL }}" onclick="captureOutboundLink('{{ .URL | absURL }}'); return false;" class="navLink navbar-item">{{ .Name }}</a>
                {{ end }}
              </div>
            </div>
          </li>
        {{ else }}
          <li class="padding-left-right-20"><a href="{{ .URL | absURL }}" class="navLink">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    <div class="flex media-section">
      {{ range site.Menus.media }}
      <a href="{{ .URL | absURL }}" class="text-black"><i class="fab fa-{{ .Name }}"></i></a>
      {{ end }}
    </div>
  </div>
</nav>
{{ "<!-- /navigation -->" | safeHTML }}
