{{ define "main" }}

{{ partial "page-header.html" . }}


{{ with .Params }}
{{ if .community }}
<section class="bg-light">
  <div class="width-80 vertical-align-center">
    <div class="grid grid-column-auto grid-spacing padding-top-down-30">
      {{ range .community }}
      <div class="feature-card">
        <div class="img-container-sm">
          <a href="{{ .cta.link | absURL }}" alt="{{ .cta.label }}">
            <img src="{{ .logo | absURL }}" alt="{{ .alt | markdownify }}">
          </a>
        </div>
        <h3>{{ .title }}</h3>
        <div class="border-decoration">
          <p>{{ .summary | markdownify }}</p>
        </div>
        <div class="flex-left padding-top-down-10 gap-xsm">
          <a href="{{ .cta.link | absURL }}"><button class="btn-feature btn-secondary btn-md">{{ .cta.label }}</button></a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- YouTube Playlists -->
{{ with .Params }}
{{ if .playlists }}
<section class="bg-light">
  <div class="width-80 vertical-align-center">
    <div class="grid grid-row-fit grid-spacing padding-top-down-30">
      {{ range .playlists }}
      <h3 class="text-center">{{ .title }}</h3>
      <iframe width="560" height="315" src={{ .link}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<!-- Community Program -->
{{ with .Params }}
{{ if .program }}

<section class="bg-light">
  <div class="width-80 vertical-align-center">
    <div class="hero-image">
      <img src="{{ .image | absURL }}" alt="{{ .alt | markdownify }}">
    </div>
    <div class="grid grid-row-fit grid-spacing padding-top-down-30">
      {{ range .program }}
      <div class="feature-card">
        <h3>{{ .title }}</h3>
        <div>
          <p>{{ .summary | markdownify }}</p>
        </div>
        {{ if .cta.enable }}
        <div class="flex-left padding-top-down-10 gap-xsm">
          <a href="{{ .cta.link | absURL }}"><button class="btn-feature btn-secondary btn-md">{{ .cta.label }}</button></a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="sponsor-image">
      <p>The Dapr Meteors program is sponsored by</p>
      <a href="{{ .sponsor.link | absURL }}">
        <img src="{{ .sponsor.image | absURL }}" alt="{{ .sponsor.alt | markdownify }}">
      </a>
    </div>

    {{ if .meteors }}
    <div class="text-center padding-top-down-10">
      <h2>Meet the Meteors 🌠</h2>
    </div>
    <div class="grid grid-row-fit grid-spacing padding-top-down-30">
      {{ range .meteors }}
      <div class="feature-card">
        <div class="img-container-md">
          <img src="{{ .image | absURL }}" alt="{{ .alt | markdownify }}">
        </div>
        <h3>{{ .name }}</h3>
        <div class="border-decoration">
          <p>{{ .bio | markdownify }}</p>
        </div>
        <div class="flex-left padding-top-down-10 gap-xsm">
          <a href="{{ .linkedin | absURL }}"><button class="btn-feature btn-secondary btn-md">LinkedIn</button></a>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}

  </div>
</section>
{{ end }}
{{ end }}

<!-- panel -->
{{ with .Params.panel }}
<section class="bg-light padding-top-80">
  <div class="padding-bottom-20">
    <h2 class="text-center">{{ .title | title }}</h2>
    {{with .video}}
    <div class="text-center">
      <iframe width="860" height="515" src="{{ . | safeURL }}" title="YouTube video player" class="iframe"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    {{end}}
  </div>
</section>
{{ end }}
<!-- /panel -->

<!-- call to action -->
{{ with .Params.cta }}
<section class="section">
  <div class="feature-card width-60 vertical-align-center width-80-mobile">
    <div class="flex align-items-center justify-content-center gap-md column-mobile">
      <div>
        <img src="{{ .image | absURL }}" class="img-fluid" width="200px">
      </div>
      <div class="text-center-mobile">
        <h2>{{ .title | markdownify }}</h2>
        {{with .content }}<p class="mb-4">{{ . | markdownify }}</p>{{ end }}
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absURL }}" 
          class="btn btn-primary stretched-link"><button class="btn-primary btn-md">{{ .label }}</button></a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /call to action -->

{{ end }}