{{ define "main" }}
  {{ partial "home/hero.html" . }}
  {{ partial "home/case-study.html" . }}
    <section class="width-60 vertical-align-center padding-top-down-100">
      <h2 class="text-center">Build event driven apps faster</h2>
      <p class="text-justify font-weight-300">
        Dapr is set of APIs with built-in best practices to build cloud-native event-driven applications. Dapr increases your developer productivity by 20-40% with out-of-the-box features such as workflow, pub/sub, state management, secret stores, configuration stores, bindings, actors and distributed lock and covers cross-cutting concerns including security, observability and resiliency.
      </p>
    </section>
    <section>
      <div class="flex justify-content-space-between padding-top-down-100 width-60 vertical-align-center column-reverse-mobile">
        <div class="width-60 font-weight-300 width-100-mobile">
          <h3 class="text-center-mobile">Automate your business processes</h3>
          <p class="text-justify-mobile">Dapr workflow is simplifying complex, stateful coordination requirements in event-driven applications.</p>
          <p class="text-justify-mobile">Workflow makes it easy to implement orchestration patterns such as task chaining, fan-out/fan-in, monitor, and external system interaction. Workflow can be combined with the other Dapr APIs so developers can automate business processes quickly.</p>
        </div>
        <div>
          <img src="./images/image-card.png" alt="image card">
        </div>
      </div>
    </section>
    <section>
      <div class="flex justify-content-space-between flex-row-reverse padding-top-down-100 width-60 vertical-align-center column-reverse-mobile">
        <div class="width-60 font-weight-300 width-100-mobile">
          <h3 class="text-center-mobile">Best practices to build resilient and scalable applications</h3>
          <p class="text-justify-mobile">Modern cloud-native applications are inherently async and react to events. Dapr enables the creation of event-driven applications by providing a common set of APIs across 100+ cloud-native back-ends and brokers. It offers guaranteed message delivery, built-in resiliency, observability and security.</p>
        </div>
        <div>
          <img src="./images/image-card.png" alt="image card">
        </div>
      </div>
    </section>
    <section>
      <div class="flex justify-content-space-between padding-top-down-100 width-60 vertical-align-center column-reverse-mobile">
        <div class="width-60 font-weight-300 width-100-mobile">
          <h3 class="text-center-mobile">Integrate with the infrastructure of your choice</h3>
          <p class="text-justify-mobile">Dapr's component model decouples technology choices from your code making it agnostic to hosting environments and enabling application portability. Dapr runs as a sidecar wherever your application runs whether hosted on Kubernetes, VMs, deployed on the cloud, on-premises or on the edge.</p>
        </div>
        <div>
          <img src="./images/image-card.png" alt="image card">
        </div>
      </div>
    </section>
    <section>
      <div class="flex justify-content-space-between flex-row-reverse padding-top-down-100 width-60 vertical-align-center column-reverse-mobile">
        <div class="width-60 font-weight-300 width-100-mobile">
          <h3 class="text-center-mobile">Incrementally adopt</h3>
          <p class="text-justify-mobile">Dapr can be introduced into an existing architecture incrementally. Dapr applications can call non-Dapr endpoints while still having the Dapr benefits of having resiliency policies, observability, security access through scoping and more.</p>
        </div>
        <div>
          <img src="./images/image-card.png" alt="image card">
        </div>
      </div>
    </section>
    <section>
      <div class="padding-bottom-100 font-weight-300">
        <h2 class="text-center padding-bottom-70">Building block APIs</h2>
        <div class="flex justify-content-space-between width-80 vertical-align-center padding-bottom-20 column-mobile">
          <div class="width-20 width-100-mobile">
            <div class="icon-container">
              <iconify-icon icon="fluent:arrow-step-in-right-24-regular"></iconify-icon>
            </div>
            <h3>Service Invocation</h3>
            <p>Service invocation enables applications to communicate with each other through well-known endpoints in the form of http or gRPC messages. Dapr provides an endpoint that acts as a combination of a reverse proxy with built-in service discovery, while leveraging built-in distributed tracing and error handling.</p>
            <p><a href="https://docs.dapr.io/developing-applications/building-blocks/service-invocation/service-invocation-overview/"> &gt; Read more about service invocation</a></p>
          </div>
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon icon="fluent:mail-copy-24-regular"></iconify-icon>
            </div>
            <h3>Publish Subscribe</h3>
            <p>Pub/Sub is a loosely coupled messaging pattern where senders (or publishers) publish messages to a topic, to which subscribers subscribe. Dapr supports the pub/sub pattern between applications.</p>
            <p><a href="https://docs.dapr.io/developing-applications/building-blocks/pubsub/"> &gt; Read more about publish subscribe</a></p>
          </div>
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon icon="fluent:database-24-regular"></iconify-icon>
            </div>
            <h3>State Management</h3>
            <p>Application state is anything an application wants to preserve beyond a single session. Dapr provides a key/value-based state and query APIs with pluggable state stores for persistence.</p>
            <p><a href="https://docs.dapr.io/developing-applications/building-blocks/state-management/"> &gt; Read more about state management</a></p>
          </div>
        </div>
        <div class="flex justify-content-space-between width-80 vertical-align-center padding-bottom-20 column-mobile">
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon icon="fluent:people-team-24-regular"></iconify-icon>
            </div>
            <h3>Actors</h3>
            <p>An actor is an isolated, independent unit of compute and state with single-threaded execution. Dapr provides an actor implementation based on the virtual actor pattern which provides a single-threaded programming model and where actors are garbage collected when not in use.</p>
            <p><a href="https://docs.dapr.io/developing-applications/building-blocks/actors/"> &gt; Read more about actors</a></p>
          </div>
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon icon="fluent:flowchart-24-regular"></iconify-icon>
            </div>
            <h3>Workflow</h3>
            <p>The Workflow API enables you to define long running, persistent processes or data flows that span multiple microservices using Dapr workflows or workflow components. The Workflow API can be combined with other Dapr API building blocks.</p>
            <p><a href="https://docs.dapr.io/developing-applications/building-blocks/workflow/">Read more about workflow.</a></p>
          </div>
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon icon="fluent:key-24-regular"></iconify-icon>
            </div>
            <h3>Secrets</h3>
            <p>Dapr provides a secrets building block API and integrates with secret stores such as public cloud stores, local stores and Kubernetes to store the secrets. Services can call the secrets API to retrieve secrets, for example to get a connection string to a database.</p>
            <p><a href="https://docs.dapr.io/developing-applications/building-blocks/workflow/"> &gt; Read more about secrets</a></p>
          </div>
        </div>
        <div class="flex justify-content-space-between width-80 vertical-align-center column-mobile">
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon icon="fluent:settings-cog-multiple-24-regular"></iconify-icon>
            </div>
            <h3>Configuration</h3>
            <p>The Configuration API enables you to retrieve and subscribe to application configuration items for supported configuration stores. This enables an application to retrieve specific configuration information, for example, at start up or when configuration changes are made in the store.</p>
            <p><a href="https://docs.dapr.io/developing-applications/building-blocks/configuration/"> &gt; Read more about configuration</a></p>
          </div>
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon icon="fluent:plug-disconnected-24-regular"></iconify-icon>
            </div>
            <h3>Bindings</h3>
            <p>A binding provides a bi-directional connection to an external cloud/on-premise service or system. Dapr allows you to invoke the external service through the Dapr binding API, and it allows your application to be triggered by events sent by the connected service.</p>
            <p><a href="https://docs.dapr.io/developing-applications/building-blocks/bindings/"> &gt; Read more about bindings</a></p>
          </div>
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon icon="fluent:table-lock-24-regular"></iconify-icon>
            </div>
            <h3>Distributed lock</h3>
            <p>The distributed lock API enables you to take a lock on a resource so that multiple instances of an application can access the resource without conflicts and provide consistency guarantees.</p>
            <p><a href="https://docs.dapr.io/developing-applications/building-blocks/distributed-lock/"> &gt; Read more about distributed lock</a></p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="padding-top-down-100 font-weight-300">
        <h2 class="text-center padding-bottom-70 padding-bottom-20-mobile">Fundamentals</h2>
        <div class="flex justify-content-space-between width-80 vertical-align-center column-mobile">
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon class="fundamental" icon="fluent:lock-shield-24-regular"></iconify-icon>
            </div>
            <h3>Security</h3>
            <p>Dapr provides end-to-end security with the service invocation API, with the ability to authenticate an application with Dapr and set endpoint access policies. For pub/sub components, you can limit which topic types and applications are allowed to publish and subscribe to specific topics.</p>
            <p><a href="https://docs.dapr.io/concepts/security-concept/"> &gt; Read more about security</a></p>
          </div>
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon class="fundamental" icon="fluent:heart-pulse-24-regular"></iconify-icon>
            </div>
            <h3>Observability</h3>
            <p>Dapr can be configured to emit tracing data using the widely adopted protocols of Open Telemetry (OTEL) and Zipkin. This makes it easily integrated with multiple observability tools.</p>
            <p><a href="https://docs.dapr.io/concepts/observability-concept/"> &gt; Read more about observability</a></p>
          </div>
          <div class="width-20 width-100-mobile padding-top-100-mobile">
            <div class="icon-container">
              <iconify-icon class="fundamental" icon="fluent:arrow-clockwise-24-regular"></iconify-icon>
            </div>
            <h3>Resiliency</h3>
            <p>Dapr provides a capability for defining and applying fault tolerance resiliency policies to your application. You can define policies for following resiliency patterns: timeouts, retries/back-offs, circuit breakers. These policies can be applied to any Dapr API calls when calling components with a resiliency spec.</p>
            <p><a href="https://docs.dapr.io/concepts/resiliency-concept/"> &gt; Read more about resiliency</a></p>
          </div>
        </div>
      </div>
    </section>
    {{ partial "home/adopters.html" . }}
    <section>
      <div class="padding-bottom-20">
        <h2 class="text-center">Watch a Quick Introduction to Dapr</h2>
        <div class="text-center">
          <iframe width="860" height="515" src="https://www.youtube.com/embed/9o9iDAgYBA8" title="YouTube video player" class="iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </section>
    <div class="banner text-center">
      <p>Dapr is a <a href="https://www.cncf.io/sandbox-projects/" class="banner-link">Cloud Native Computing Foundation incubation project</a></p>
      <div class="img-container">
        <img src="./images/cncf-color.svg" alt="cncf logo" />
      </div>
    </div>
 {{ end }}
