{{ if site.Data.homepage.caseStudy.enable }}
{{ with site.Data.homepage.caseStudy }}
<section>
<section class="width-90 vertical-align-center margin-bottom-30">
    <div class="grid grid-column-auto-6 grid-row-auto padding-top-40 padding-bottom-40">
    {{  range .stories }}
      <div class="feature-card">
        <div class="img-container-md">
          <img src="{{ .image | absURL }}" alt="{{ .name }}">
        </div>
        <div class="border-decoration">
          <p>{{ .title }}</p>
          {{ if .content }}
          <p class="italic">"{{ .content }}"</p>
          {{ end }}
        </div>
        <div class="flex-left padding-top-down-10 gap-xsm">
          <a href="{{ .link | absURL }}">Read the article</a>
        </div>
      </div>
    {{ end }}
    </div>
</section>
</section>
{{ end }}
{{ end }}