<section class="bg-grey-white">
    <div class="flex justify-content-space-between hero-container column-mobile">
      <div class="text-denim-blue">
        <h2 class="text-size-large">APIs for building <span class="highlight-hippie-blue">Secure</span> and <span class="highlight-golden">Reliable</span> Microservices</h2>
        <p>Leverage industry best practices and focus on your application's logic.</p>
        <div class="btn-container">
          <a href="https://docs.dapr.io/getting-started/"><button class="btn-primary btn-md">Get Started</button></a>
          <a href="https://docs.dapr.io/reference/api/"><button class="btn-secondary btn-md">API Reference</button></a>
        </div>
      </div>
      <div class="padding-top-100-mobile align-self-center-mobile">
        <img src="./images/image-card.png" alt="image card">
      </div>
    </div>
  </section>