<section class="bg-grey-white">
    <div class="flex justify-content-space-evenly hero-container column-mobile">
      <div class="text-denim-blue">
        <h2 class="text-size-large">APIs for Building <span class="highlight-hippie-blue">Secure</span> and <span class="highlight-golden">Reliable</span> Microservices and Agentic AI Systems</h2>
        <p>Dapr provides APIs for communication, state, workflow, and agentic AI. 
          The APIs decouple the application code from the underlying infrastructure ensuring flexibility and portability.
          Dapr leverages industry best practices for security, resiliency, and observability, so you can focus on your code.
        </p>
        <div class="btn-container">
          <a href="https://docs.dapr.io/getting-started/"><button class="btn-primary btn-md">Get Started</button></a>
          <a href="https://docs.dapr.io/developing-applications/building-blocks/"><button class="btn-secondary btn-md">APIs</button></a>
          <a href="https://docs.dapr.io/developing-applications/building-blocks/workflow/workflow-overview/"><button class="btn-secondary btn-md">Workflow</button></a>
          <a href="https://v1-16.docs.dapr.io/developing-applications/dapr-agents/dapr-agents-introduction/"><button class="btn-secondary btn-md">Dapr Agents</button></a>
        </div>
      </div>
      <div class="padding-top-100-mobile align-self-center-mobile img-container-lg img-container-fullwidth-mobile">
        <img src="./images/dapr_hero.png" alt="image card">
      </div>
    </div>
  </section>
