{{ if site.Data.homepage.values.enable }}
{{ with site.Data.homepage.values }}
<section class="width-60 width-80-mobile vertical-align-center padding-top-down-50">
    <h2 class="text-center">{{ .title }}</h2>
    <p class="text-justify font-weight-300">
      {{ .content }}
    </p>
  </section>
  {{ range $index, $featureItem := .feature_item }}
  <section>
    {{if not (modBool $index 2)}}
        <div class="flex justify-content-space-evenly flex-row-reverse padding-top-down-50 width-60 width-80-mobile vertical-align-center column-reverse-mobile">
    {{ else }}
        <div class="flex justify-content-space-evenly padding-top-down-50 width-60 width-80-mobile vertical-align-center column-reverse-mobile">
    {{ end }}
      <div class="feature-card width-60 width-100-mobile font-weight-300">
        <h3 class="text-center-mobile">{{ $featureItem.name }}</h3>
        <p class="text-justify-mobile">{{ $featureItem.content }}</p>
        {{  if $featureItem.content2 }}
            <p class="text-justify-mobile">{{ $featureItem.content2 }}</p>
        {{ end }}
      </div>
      <div class="align-self-center-mobile">
        <img src="{{ $featureItem.image }}" alt="image describing {{ $featureItem.name }}">
      </div>
    </div>
  </section>
  {{ end }}
</section>
{{ end }}
{{ end }}